@import "tailwindcss";
.theme-bg{
  font-family: "Times New Roman";
  font-optical-sizing: auto;
  font-style: normal;
  background : linear-gradient(
    to bottom,
     #fee2e2,
      #fc8181

  );
}